
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
	rel="stylesheet">

</head>
<body>
	<!---------- Navigation Bar ----------->

	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a th:href="@{/countries}" class="navbar-brand">Country GDP</a>
			<div class="d-flex">
				<h1 class="navbar-brand" th:if="${count != null}"
					th:text="${count + ' : Countries'}">Country Count</h1>
				<h1 class="navbar-brand" th:if="${country != null}"
					th:text="${'Country : '+country.name}">Countries</h1>
			</div>
		</div>
	</nav>

	<main class="container mt-4" th:replace="${content}"></main>


	<!---------- Cities Load More Script ---------->



	<script th:inline="javascript">
		const countryCode = /*[[${country?.code}]]*/ [];
	</script>


	<script th:inline="javascript">
	
		const loadBtn = document.getElementById("loadMoreBtn");
		
		if(loadBtn) {
			loadBtn.addEventListener("click", function(){
				let pageNo = parseInt(loadBtn.dataset.pageNo) + 1;
				console.log(countryCode);
				console.log(pageNo);
				fetch(`/worldgdp/countries/${countryCode}/cities?pageNo=${pageNo}`)
				.then(response => response.text())
				.then(html => {
					
					let temp = document.createElement("div");
					
					temp.innerHTML = html;
					
					let hasMore = temp.querySelector(".cityFragment").dataset.hasmore;
					
					document.getElementById("cityList").insertAdjacentHTML("beforeend", html);
					
					
					if (hasMore === "false") {
						loadBtn.disabled = true;
						loadBtn.innerText = "No more cities";
					}
					
					loadBtn.dataset.pageNo = pageNo;
				});
			});
		}
	
	</script>


	<!---------- Chart JS Scripts ---------->

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script th:if="${gdpValue != null}" th:inline="javascript">

	const gdpData = /*[[${gdpValue}]]*/ [];
			
			gdpData.reverse();
			
			let years = gdpData.map(g => g.year);
			let values = gdpData.map(g => g.value);
			
			document.querySelectorAll(".chart").forEach(canvas => {
			
			    let type = canvas.dataset.type;   // get chart type from HTML
			
			    new Chart(canvas, {
			        type: type,
			        data: {
			            labels: years,
			            datasets: [{
			                label: 'GDP (Billion USD)',
			                data: values,
			                borderWidth: 2,
			                tension: 0.4,
			                fill: type === "radar"
			            }]
			        },
			        options: {
			            responsive: true,
			            maintainAspectRatio: true
			        }
			    });
			
			});
		
		</script>

	<script th:inline="javascript">
	    /*<![CDATA[*/
	    document.addEventListener("DOMContentLoaded", function() {
	        var toastEl = document.getElementById('toastMsg');
	        if (toastEl) {
	            new bootstrap.Toast(toastEl).show();
	        }
	    });
	    /*]]>*/
	</script>

	<!---------- Bootstrap Script ---------->

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

	<!---------- City Script ---------->

	<script type="text/javascript" th:src="@{/js/city.js}"></script>
	<script type="text/javascript" th:src="@{/js/capital.js}"></script>
	<script type="text/javascript" th:src="@{/js/language.js}"></script>

</body>
</html>